.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.coinContainer {
    margin: 50px auto;
    border: 1px solid silver;
    width: fit-content;
    background-color: #f6f6f6;
}

.input {
    width: 300px;
    height: 20px;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
    border: 1px solid silver;
    background-color: #f6f6f6;
    border-radius: 5px;
    transition: all .3s ease;
}

.input:focus {
    outline: none;
    border-color: #fff;
    background-color: #fff;
    box-shadow:0px 3px 8px rgba(74, 74, 74, 0.24);
}